body {
   text-align: center;
   align-content: center;
   margin: 0;
   font-size: 18px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
   height: 150px;
   width: 150px;
}

.msgImg {
   height: 22px;
   width: 22px;
}

.messageText {
   float: left;
   position: sticky;
   top: 50%;
}
